<!doctype html>
<html ng-app="angfire">
  <head>
    <title>Angfire </title>


    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-0.10.0.js"></script>
    <!--Jquery -->
    <script type="text/javascript" src="jquery-1.11.0.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <!-- Firebase Auth -->
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <!-- AngularFire Plugin -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="app.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
  </head>



  <body ng-controller="Angfire">
    <!--************Dialog Box code******************* -->
    <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-body">
            <a  href="#" ng-click="angfireLogin('facebook')"> <img class="fb-image" src="fblogin.png" /> </a>    
            
            </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" ng-click="ok()">OK</button> -->
            <button class="btn btn-warning" ng-click="cancel()">Skip</button>
        </div>
    </script>

    <!--************** Dialog Box code ends***************** -->


    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" >
      <div class="logo">
        <span class="glyphicon glyphicon-tower"></span>
        KORO
      </div>
      <div class="dropdown setting-top">
        <a data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span></a>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#">My Videos</a></li>
          <li><a href="#">Settings</a></li>
          <li role="presentation" class="divider"></li>
          <li><a href="#" ng-click="angfireLogout('facebook')">Logout</a></li>
        </ul>
      </div>
      <div class="user-name" ng-bind="user.name"></div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="main-content">
            <!-- start: video header -->
            <div class="row">
              <div class="col-sm-12 video-head">
                <h2 class="video-name">XYZ Video</h2>
                <div class="rating">
                  <div class="up"><span class="glyphicon glyphicon-thumbs-up"></span>30</div>
                  <div class="down"><span class="glyphicon glyphicon-thumbs-down"></span>12</div>
                </div>
                <div class="user-info">
                  <p>Amit Pandita</p>
                  <p>New Delhi</p>
                </div>
                <div class="user-avatar">
                  <img src="https://graph.facebook.com/100000561901666/picture?type=small" class="img-circle">
                </div>
              </div>
            </div>
            <!-- end: video header -->
            <!-- start: video body -->
            <div class="row">
              <div class="col-sm-12">
                <div class="play-video">
                  <iframe width="320" height="180" src="//www.youtube.com/embed/NgpcwYooLO0?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="comment-video">
                  <p>Please enter your comments below:</p>
                  <textarea  ng-disabled="fl!=1" ng-model="newComment" ng-keydown="addComment($event)"></textarea>
                  <div class="video-option">
                    <div class="up"><span class="glyphicon glyphicon-thumbs-up"></span></div>
                    <div class="down"><span class="glyphicon glyphicon-thumbs-down"></span></div>
                    <div class="button">
                      <button class="btn btn-info">Submit</button>
                      <button class="btn btn-default">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end: video body -->
            <!-- start: video comments -->
            <div class="row">
              <div class="col-sm-12">
                <div class="comments" ng-repeat="comment in comments |orderByPriority | orderBy:'-timestamp' " class="comment-outer">
                  <div class="user-img">
                    <img src="https://graph.facebook.com/{{comment.fid}}/picture?type=small"/>
                  </div>
                  <div class="user-comment">
                    <div class="comment-from">{{comment.from}}</div>
                    <div class="comment-body">{{comment.body}} <i style="color:#AAA;"> - {{ comment.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</i></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end: video comments -->
          </div>
          <!-- start: video side bar -->
          <div class="side-content">

          </div>
          <!-- end: video side bar -->
        </div>
      </div>
    </section>
    <footer>
      <p class="footer">
        <span class="glyphicon glyphicon-copyright-mark"></span>
        All Rights Reserved
      </p>
    </footer>
  </body>
</html>